{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2",
    "vue"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    "transform-runtime"
  ]
}
