
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body class="login">
    <div id="login"></div>
    <script src="@(ViewBag.ScriptPathPrefix)/Bundle/login.js"></script>
</body>
</html>

