
@{
    Layout = null;
}

<!DOCTYPE html lang="en">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Bootstrap -->
    <link href="~/Scripts/src/assert/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/src/assert/vendors/bootstrap-vue/dist/bootstrap-vue.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <div id="app"></div>
    <script src="@(ViewBag.ScriptPathPrefix)/Bundle/login.js"></script>
</body>
</html>

