
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SumAmount</title>
</head>
<body class="SumAmount">
    <div id="sumamount"></div>
    <script src="@(ViewBag.ScriptPathPrefix)/Bundle/sumAmount.js"></script>
</body>
</html>

