
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    <!-- Bootstrap -->
    <link href="~/Scripts/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/vendors/bootstrap-vue/dist/bootstrap-vue.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="btn-group" role="group" aria-label="Functional Box">
            <button type="button" class="btn btn-secondary" v-on:click="searchClick">Search</button>
            <button type="button" class="btn btn-secondary">Add</button>
        </div>
        <div id="member-app"></div>
    </div>
    <script src="@(ViewBag.ScriptPathPrefix)/Bundle/member.js"></script>
</body>
</html>
